@{
    ViewBag.Title = "Consultar Eventos";
}

<h3>Eventos que se irão realizar</h3>
<p>


</p>

<div>
    <label>Data do Evento</label>
    <input id="data_evento" type="date" />

    <label>Tipo de Evento</label>
    <select id="tipo_evento">
        <option disabled selected tipo_evento>Selecione uma opção</option>
        <option>Teatro</option>
        <option>Dança</option>
    </select>

    <label>Localidade</label>
    <select id="localidade">
        <option disabled selected localidade>Selecione uma opção</option>
        <option>Albufeira</option>
        <option>Loulé</option>
    </select>

    <input id="confirmar_filtros_btn" type="button" value="Confirmar" />
    OU
    <input id="mostrar_todos_btn" type="button" value="Mostrar eventos" />
</div>
<p>


</p>


<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Data e Hora
            </th>
            <th>
                Local
            </th>
            <th>
                Morada
            </th>
            <th>
                Localidade
            </th>
            <th>
                Tipo de evento
            </th>
            <th>
                Estado
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.EventosId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th></th>*@
        </tr>
    </thead>

    <tbody>
        
        @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventosId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Id)
                    </td>

             @if(User.IsInRole("Admin")) {
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.FavoritosId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.FavoritosId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.FavoritosId">Delete</a>
                    </td>

            }       
                </tr>
            }*@
    </tbody>
</table>





