@model IEnumerable<EventosWebApp.Models.ModelsAPI.Evento>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Eventos que se irão realizar</h3>

<p>
     @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
     {
         <a asp-action="Create">Criar novo evento</a>
     }
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo.TipoEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local.NomeLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local.Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local.Localidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo.TipoEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local.NomeLocal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local.Morada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local.Localidade)
                </td>

                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>}
            </tr>
        }
    </tbody>
</table>
