@model IEnumerable<EventosWebApp.Models.Favorito> 

@{
    ViewData["Title"] = "Eventos Favoritos";
}

<h3>Eventos Favoritos</h3>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Data e Hora
            </th>
            <th>
                Local
            </th>
            <th>
                Morada
            </th>
            <th>
                Localidade
            </th>
            <th>
                Tipo de evento
            </th>
            <th>
                Estado
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventosId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventosId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.FavoritosId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
